








#cssvalid {
  float: right;
}
.contacthours {
  padding: 5%;
}
.aboutus {
  height: 25vh;
}
@media screen and (max-width: 1000px) {
  table {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 3vw;
  }
  a {
    font-size: 2vw;
  }
  .contacthours{
    font-size:1vw;
  }
  .privacy{
    font-size: 1.5vw;
  }
  .heroimage{
    max-height: 400px;
  }
}
@media screen and (max-width: 800px) {
  table {
    font-size: 2vw;
  }
  h1 {
    font-size: 5vw;
  }
  a {
    font-size: 3vw;
  }
  .contacthours {
    font-size: 2vw;
  }
  .privacy{
    font-size: 2vw;
  }
  .heroimage{
    max-height: 300px;
  }
}
@media screen and (max-width: 480px) {
  table {
    font-size: 3vw;
  }
  h1 {
    font-size: 6vw;
  }
  a {
    font-size: 4vw;
  }
  .contacthours{
    font-size: 3vw;
  }
  .privacy{
    font-size: 3vw;
  }
  .heroimage{
    max-height: 300px;
  }
}
